<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <section class="mainContainer">
    <form class="" action="selection" method="post">
      <input type="text" name="rapper" value="">
    </form>
  </section>
</body>
</html>
<!-- <div class="container">

    <div class="jumbotron text-center">
        <h1>Place Your Order Here</h1>
        <img src="img/savage21.jpg" alt="21 Savage Profile Photo">
        <form class="" action="index.html" method="post">
          <input type="text" name="customer" value="" placeholder="name">
          <input type="text" name="order" value="" placeholder="order">
          <input type="button" name="" value="Submit">
        </form>
        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div> -->
